schemaXML.xml

<!-- Auteur : Nikola Gandon & Maximilien Poncet-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fournisseurs" />
                <xs:element ref="articles" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="fournisseurs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fournisseur" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="nom" />
                            <xs:element ref="adresse" />
                            <xs:element ref="ville" />
                            <xs:element ref="pays" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="articles">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="article" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="designation" />
                            <xs:element ref="prix" />
                            <xs:element ref="fournisseur" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>