schemaXML.xml

<!-- Auteur : Nikola GANDON & Maximilien PONCET -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Définition des types -->
    <xs:complexType name="fournisseurType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="adresse" type="adresseType" />
            <xs:element name="contact" type="contactType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="adresseType">
        <xs:sequence>
            <xs:element name="rue" type="xs:string"/>
            <xs:element name="codePostal" type="xs:string"/>
            <xs:element name="ville" type="xs:string"/>
            <xs:element name="pays" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="telephone" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="articleType">
        <xs:sequence>
            <xs:element name="designation" type="xs:string"/>
            <xs:element name="prix" type="xs:decimal"/>
            <xs:element name="fournisseurID" type="xs:IDREF" minOccurs="1" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <!-- Définition des éléments -->

    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fournisseurs" type="fournisseurType" />
                <xs:element name="articles" type="articleType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="fournisseurs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fournisseur" type="fournisseurType" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="articles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="article" type="articleType" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>